---
permalink: labs.json
eleventyExcludeFromCollections: true
---
[
{% for item in collections.labs %}
{"slug":"{{ item.fileSlug }}","title":"{{ item.data.title or item.fileSlug }}","href":"/lab/{{ item.fileSlug }}.html"}{% if not loop.last %},{% endif %}
{% endfor %}
]